/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

.createPlayer-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;

  .createPlayer-title {
    background: #004d40;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .createPlayer-content {
    background: white;
  }
}

.createPlayer-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  // background: #f2f3f4;

  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #212f3d;
    &::placeholder {
      color: #2c3e50;
    }

    // 버튼을 제외한 영역을 모두 차지하기
    // flex: 1;
    // border-bottom: 1px solid gray;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.createPlayer-submit {
  background-color: rgb(7, 7, 83);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgb(81, 81, 231);
  }
}

.createPlayer-reset {
  background-color: rgb(168, 36, 36);
  border: none;
  border-radius: 10px;
  // color: white;
  padding: 12px 32px;
  text-decoration: none;
  // margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgb(81, 81, 231);
  }
  div {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
}
input[type="submit"] {
  color: white;
  font-size: 1.2rem;
  // margin-left: 30px;
}

// .register-firstName {
//   background: #f8f9fad7;
//   border-bottom: 1px solid gray;
// }
// .register-lastName {
//   border-bottom: 1px solid gray;
// }
// .register-email {
//   background: #f8f9fad7;
//   border-bottom: 1px solid gray;
// }
// .register-password {
//   border-bottom: 1px solid gray;
// }
// .register-addTeam {
//   background: #f8f9fad7;
// }

.createPlayer-button {
  background-color: rgb(7, 7, 83);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgb(81, 81, 231);
  }
  .createPlayer-showTeam {
    color: white;
  }
}
