.field_position_body {
  text-align: center;
}

._CF {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 120px;
}

._LF {
  color: #fff;
  position: absolute;
  left: 20%;
  top: 200px;
}

._RF {
  color: #fff;
  position: absolute;
  right: 20%;
  top: 200px;
}

._1B {
  color: #fff;
  position: absolute;
  right: 25%;
  top: 340px;
}

._3B {
  color: #fff;
  position: absolute;
  left: 25%;
  top: 340px;
}

._SS {
  color: #fff;
  position: absolute;
  left: 32%;
  top: 280px;
}

._2B {
  color: #fff;
  position: absolute;
  right: 32%;
  top: 280px;
}

._P {
  color: #fff;
  position: absolute;
  left: 44%;
  top: 330px;
}

._C {
  color: #fff;
  position: absolute;
  left: 44%;
  top: 450px;
}
