/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

.login-container {
  width: 50%;
  // width가 주어진 상태에서 좌우 중앙 정렬
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;

  .login-title {
    background: #256633;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-content {
    background: white;
    // display: inline-flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background: #f2f3f4;

  input {
    // 기본 스타일 초기화

    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #212f3d;
    &::placeholder {
      color: #707b7c;
    }
    // 버튼을 제외한 영역을 모두 차지하기
    // flex: 1;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: rgb(7, 7, 83);
  border: none;
  // border-radius: 10px;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  font-size: 1.2rem;
}
.buttons .registration-button {
  background-color: rgb(72, 61, 133);
}
.buttons button .header-link {
  color: white;
  font-size: 1.2rem;
}

.login-button:hover {
  background-color: rgb(51, 51, 151);
}

.registration-button {
  background-color: rgb(117, 117, 207);
}
