/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

.register-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;

  .register-title {
    background: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-content {
    background: white;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background: #f2f3f4;

  input {
    // 기본 스타일 초기화

    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #212f3d;
    &::placeholder {
      color: #707b7c;
    }
    // 버튼을 제외한 영역을 모두 차지하기
    // flex: 1;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.register-button {
  background-color: rgb(7, 7, 83);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgb(81, 81, 231);
  }
}

.registration-link input[type="submit"] {
  color: white;
  font-size: 1.2rem;
  // margin-left: 30px;
}
