.roster_body {
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
  // align-items: flex-start;
  padding: 5px;
  // cursor: pointer;

  &:nth-child(even) {
    background: #f8f9fa;
  }

  &:hover {
    color: white;
    background: darkturquoise;
  }

  & + & {
    border-top: 1px solid #dee2e6;
  }
  .roster-id {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }

  span {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .roster-icon-plus {
    color: green;
    cursor: pointer;
  }
  .roster-icon-minus {
    color: red;
    cursor: pointer;
  }
  .roster-name {
    font-size: 0.7rem;
  }
}
