@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
  box-sizing: border-box;
}

.showTeam-template {
  font-family: Overpass, sans-serif;
  margin: 3rem;

  .showTeam-box {
    background-color: rgb(217, 235, 241);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid #ffffff 3px;
    border-radius: 25px;
    // width: 90%;
    // justify-content: space-around;
    // align-content: flex-start;
    // align-items: flex-start;
  }
}
